.body{
    background:white;
}

button{
    background: transparent;
    border: 0px solid white;
    font-weight:lighter;
    font-size: 30px;
}
.left-button{
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
}
.right-button{
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
}
